{% extends 'blog/blog_list.html' %}
{% block title %}{{ blog_type.type_name }}{% endblock %}
{% block blog_list_title %}
    <a class="pull-right" style="color: #f9f9f9;font-weight: bold;font-size: large" href="{% url 'blog_list' %}"><span
            class="glyphicon glyphicon-arrow-left"></span></a>&nbsp;&nbsp;
    <span style="color: #f9f9f9;font-weight: bold;font-size: large"><span class="glyphicon glyphicon-th"></span>  分类：</span>
    <span style="color: #f9f9f9;font-size: medium">{{ blog_type.type_name }}</span>

{% endblock %}
