{% load static %}
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    <link rel="shortcut icon" href="/static/img/icon1.png" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'bootstrap-3.3.7/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'base.css' %}">
    <link href="/static/fontawesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="/static/dashboard.css" rel="stylesheet">
    <script type="text/javascript" src="{% static 'jquery-1.12.4.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bootstrap-3.3.7/js/bootstrap.min.js' %}"></script>
    {% block header_extends %}{% endblock %}
</head>
<style type="text/css">
    html, body {
        width: 100%;
        height: 100%;
    }

    /*非常重要的样式让背景图片100%适应整个屏幕*/
    .my-navbar {
        padding: 20px 0;
        transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
    }

    .my-navbar a {
        background: transparent !important;
        color: #fff !important
    }

    .my-navbar a:hover {
        color: #b6cbf0 !important;
        background: transparent;
        outline: 0
    }

    .my-navbar a {
        transition: color 0.5s ease-in-out;
    }

    /*-webkit-transition ;-moz-transition*/
    .top-nav {
        padding: 0;
        background: #000;
    }

    button.navbar-toggle {
        background-color: #fbfbfb;
    }

    /*整个背景都是transparent透明的，会看不到，所以再次覆盖一下*/
    button.navbar-toggle > span.icon-bar {
        background-color: #dedede
    }
    .icon{
        border-radius: 8px;
        box-shadow:  20px 20px 60px #a8f8ed,
             -20px -20px 60px #c0eada;
        width: auto;
        height: auto;

    }
</style>
<body>
<div class="navbar navbar-fixed-top my-navbar" role="navigation" style="background: #4cae4c">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="{% url 'home' %}"style="font-size: large">
                <div class="icon">
                    <img src="/static/img/icon.png" style="width: 30px;height: auto">
                    <span style="margin: 10px 10px;">HYW Site</span>
                </div>
            </a>
            <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div id="navbar-collapse" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="{% block nav_home_active %}{% endblock %}">
                    <a href="{% url 'home' %}"><span class="glyphicon glyphicon-home"></span> 首页</a>
                </li>
                <li class="{% block nav_blog_active %}{% endblock %}">
                    <a href="{% url 'blog_list' %}"><span class="glyphicon glyphicon-list-alt"></span> 博客</a>
                </li>
                {% if user.is_staff or user.is_superuser %}
                <li class="{% block nav_article_active %}{% endblock %}">
                    <a href="{% url 'post_new' %}"><span class="glyphicon glyphicon-plus"></span> 新建</a>
                </li>
                {% endif %}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if not user.is_authenticated %}
                    <li>
                        <a href="{% url 'login' %}?from={{ request.get_full_path }}">
                            <span class="glyphicon glyphicon-log-in"></span> 登录
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'register' %}?from={{ request.get_full_path }}">
                            <span class="glyphicon glyphicon-user"></span> 注册
                        </a>
                    </li>
                {% else %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">
                            {% if user.has_nickname %}
                                {{ user.username }}({{ user.get_nickname }})
                            {% else %}
                                {{ user.username }}
                            {% endif %}
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" style="background: #010101">
                            <li class="dropdown-toggle"><a href="{% url 'user_info' %}">个人资料</a></li>
                            <li><a href="{% url 'change_password' %}">修改密码</a></li>
                            {% if user.is_staff or user.is_superuser %}
                                <li><a href="{% url 'admin:index' %}">后台管理</a></li>
                            {% endif %}
                            <li><a href="{% url 'logout' %}?from={{ request.get_full_path }}">退出</a></li>
                        </ul>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>

{% block content %}{% endblock %}
<!-- Modal -->
<div class="modal fade" id="login_modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <form id="login_medal_form" action="" method="POST">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">登录</h4>
                </div>
                <div class="modal-body">
                    {% csrf_token %}
                    {% for field in login_modal_form %}
                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                        {{ field }}
                    {% endfor %}
                    <span id="login_medal_tip" class="text-danger"></span>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">登录</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script type="text/javascript" src="test-clear.js" opacity=0.6></script>
<script type="text/javascript">
    $(window).scroll(function () {
        if ($(".navbar").offset().top > 50) {
            $(".navbar-fixed-top").addClass("top-nav");
        } else {
            $(".navbar-fixed-top").removeClass("top-nav");
        }
    });
    $("#login_medal_form").submit(function (event) {
        event.preventDefault();
        $.ajax({
            url: '{% url "login_for_medal" %}',
            type: 'POST',
            data: $(this).serialize(),
            cache: false,
            success: function (data) {
                if (data['status'] == 'SUCCESS') {
                    window.location.reload();
                } else {
                    $('#login_medal_tip').text('用户名或密码不正确');
                }
            }
        });
    });
</script>
{% block script_extends %}{% endblock %}
</body>
<footer><center><span style="color: #f9f9f9;font-weight: normal">Copyright © 2020 by HuYaowen. All rights reserved.</span></center></footer>
</html>