{% extends 'base.html' %}
{% load static %}

{% block title %}
    我的网站|首页
{% endblock %}

{% block header_extends %}
    <link rel="stylesheet" href="{% static 'home.css' %}">
    <script src="http://cdn.hcharts.cn/highcharts/highcharts.js"></script>
    <style>
        .panel_bg {
            background: rgba(231, 248, 246, 0.85);
            border-radius: 25px;
            padding: 5%;
            background: #f9f9f9;
            box-shadow:  20px 20px 15px #b6c6d0,
             -10px -10px 15px #c8f5df;
        }
    </style>
{% endblock %}

{% block nav_home_active %}active{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-xs-9 col-xs-offset-1">
            <div class="panel panel_bg">
                {% if user.is_staff or user.is_superuser %}
                    <div class="panel-heading">
                        <h3 style="margin-left: 1em">网站浏览量统计</h3>
                    </div>
                    <!-- 图表容器 DOM -->
                    <div id="container"></div>
                    <br>
                {% endif %}
                <div class="panel panel-success" style="box-shadow:  5px 5px 9px #b6c6d0,
             -5px -5px 9px #c8f5df;">
                    <div class="panel-heading">
                        <h3 class="panel-title">今日热门资讯</h3>
                    </div>
                    <ul>
                        {% for hot_data in today_hot_data %}
                            <li>
                                <a class="list-group-item"
                                   href="{% url 'blog_detail' hot_data.content_object.pk %}">{{ hot_data.content_object.title }}
                                    ({{ hot_data.read_num }})</a>
                            </li>
                        {% empty %}
                            <li class="list-group-item">今天暂时没有热门咨询</li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="panel panel-success" style="box-shadow:  5px 5px 9px #b6c6d0,
             -5px -5px 9px #c8f5df;">
                    <div class="panel-heading">
                        <h3 class="panel-title">一周热门咨询</h3>
                    </div>

                    <ul>
                        {% for hot_data in hot_blogs_for_7_days %}
                            <li>
                                <a class="list-group-item"
                                   href="{% url 'blog_detail' hot_data.content_object.pk %}">{{ hot_data.content_object.title }}
                                    ({{ hot_data.read_num }})</a>
                            </li>
                        {% empty %}
                            <li class="list-group-item">本周暂时没有热门咨询</li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="panel panel-success" style="box-shadow:  5px 5px 9px #b6c6d0,
             -5px -5px 9px #c8f5df;">
                    <div class="panel-heading">
                        <h3 class="panel-title">本月热门咨询</h3>
                    </div>
                    <ul>
                        {% for hot_blog in hot_blogs_for_month %}
                            <li>
                                <a class="list-group-item"
                                   href="{% url 'blog_detail' hot_blog.id %}">{{ hot_blog.title }}
                                    ({{ hot_blog.read_num_sum }}) </a>
                            </li>
                        {% empty %}
                            <li class="list-group-item">本月暂时没有热门咨询</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>


    <script>
        // 图表配置
        var options = {
            chart: {type: 'area'},
            title: {text: null},
            xAxis: {
                categories: {{ dates|safe }},   // x 轴分类
                tickmarkPlacement: 'on',
                title: {text: '前7日阅读量变化'},
            },
            yAxis: {
                title: {text: null},
                labels: {enabled: false},
                gridLineDashStyle: 'Dash',
            },
            series: [{                              // 数据列
                name: '阅读量',                     // 数据列名
                data: {{ read_nums }}               // 数据
            }],
            plotOptions: {
                line: {
                    dataLabels: {
                        enabled: true
                    }
                }
            },
            legend: {enabled: true},
            credits: {enabled: false},
        };
        // 图表初始化函数
        var chart = Highcharts.chart('container', options);
    </script>
{% endblock %}